.navbar{
    background-color: #153D4F; /*change background color and border of navbar*/
    border: #153D4F;
}


.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:white;  /*Sets the text hover color on navbar*/
}

.navbar .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}



.navbar .navbar-nav > #home:hover:after{
    border-bottom: 2px solid white;
    bottom: 0;
    content: "";
    left: 11px;
    position: absolute;
    width: 49px;
}

.navbar .navbar-nav > #profile:hover:after{
    border-bottom: 2px solid white;
    bottom: 0;
    content: "";
    left: 11px;
    position: absolute;
    width: 50px;
}

.navbar-default .navbar-nav > #results:hover:after{
    border-bottom: 2px solid white;
    bottom: 0;
    content: "";
    left: 11px;
    position: absolute;
    width: 56px;
}

#search_bar{
    margin-top: 3%;
}


#panelImage
{
    -webkit-box-shadow: none; box-shadow: none; border: 0px;
}

