.navbar-default{
    background-color: #153D4F; /*change background color and border of navbar*/
    border: #153D4F;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.navbar-default .navbar-nav{
    margin-right: 6%;
}

#bar{
    margin-top: 59px;
    background-color: rgba(19,64,116,100);
}

.navbar-default .navbar-nav > #home:hover:after{
    border-bottom: 2px solid rgb(13,38,53);
    bottom: 0;
    content: "";
    left: 11px;
    position: absolute;
    width: 49px;
}

.navbar-default .navbar-nav > #profile:hover:after{
    border-bottom: 2px solid rgb(13,38,53);
    bottom: 0;
    content: "";
    left: 11px;
    position: absolute;
    width: 50px;
}

.navbar-default .navbar-nav > #results:hover:after{
    border-bottom: 2px solid rgb(13,38,53);
    bottom: 0;
    content: "";
    left: 11px;
    position: absolute;
    width: 56px;
}

#login{
    margin-top: 11px;
    float: right;
    margin-right: 6%;
    color: white;
    background-color: rgb(82,154,63);
}

#SignUp{
    margin-top: 11px;
    float: right;
    margin-right: 31px;
    background-color: rgb(82,154,63);
    color: white;
}