html,body{
    height: 100%;
    width:100%;
    /*overflow: hidden;*/
}


#results_boxes {
    height: 91%;
    overflow-y: scroll;
}



#result_box{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(151,151,151,100);
}

p{
    font-family: "Helvetica", serif;
    font-size: 12px;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
}

h4{
    font-family: "Helvetica", serif;
}



::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
}

#profile_picture{
    border-radius: 100%;
    width: 15%;
    margin-top: 13px;
    margin-left: 77%;
}

/*a:hover {*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/
/*a*/
/*{*/
    /*color: black;*/
/*}*/

.result-panel
{
    cursor: pointer;
}
.result-body
{
    cursor: pointer;
}
.result-body:hover{
    background-color: #eee;
}

#des
{
    word-wrap: break-word;
}

/* CSS used here will be applied after bootstrap.css */
.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

.img-thumbnail
{
    max-width: 26%;
}

