html,body{
    height: 100%;
    overflow-x: hidden;
    /*background: -webkit-radial-gradient(circle, #31427E, #071116); !* Safari 5.1+, Chrome 10+ *!*/
    /*background: -moz-radial-gradient(circle, #31427E, #071116);    !* Firefox 3.6+ *!*/
    /*background: -ms-radial-gradient(circle, #31427E, #071116);    !* IE 10 *!*/
}



.col-center-block {
    float: none;
    display: block;
    margin: 15% auto;
    /* margin-left: auto; margin-right: auto; */
}

.ui-autocomplete { position: absolute; cursor: default;z-index: 9999;}

/* workarounds */
html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

.panel-body  {
    word-break:break-all
}

img {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}


.modal-carousel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.modal-dialog-carousel {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-content-carousel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
}

.modal-header-carousel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    background: #6598d9;
    border: 0;
}

.modal-title-carousel {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
}

.modal-body-carousel {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    font-weight: 300;
    overflow: auto;
}

.modal-footer-carousel {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
    width: 200px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background: #f1f3f5;
    border-left: 1px solid darken(#f1f3f5, 10%);
}

::-webkit-scrollbar-thumb {
    background: darken(#f1f3f5, 20%);
}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #cccccc;
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: white;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#uploadBtn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 11px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/*input[type="search"] {*/
    /*width:130px;*/
    /*-webkit-transition:width 0.3s ease-in-out;*/
/*}*/

textarea:focus	{
    width:200px;
    height: 60px;
    /*-webkit-transition:width 0.5s ease-in-out;*/
}